* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #000000;
  --white: #ffffff;

  --priority-low-color: rgba(0 66 37 / 0.6);
  --priority-medium-color: rgba(255 165 0 / 0.8);
  --priority-high-color: rgba(255 0 0 / 0.8);

  --standard-spacing: 1rem;
  --standard-border-radius: 0.5rem;
  --standard-border: 1px solid var(--black);
  --standard-box-shadow: 0px 0px 2px 0px rgba(0 0 0 / 0.5);
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.standard-padding {
  padding: var(--standard-spacing);
}

.standard-gap {
  gap: var(--standard-spacing);
}

.margin-left-auto {
  margin-left: auto;
}

.list-style-none {
  list-style: none;
}

.display-none {
  display: none;
}

.font-weight-bold {
  font-weight: bold;
}

.button {
  appearance: none;
  padding: 0.5rem var(--standard-spacing);

  color: var(--white);
  background: var(--black);
  border-radius: var(--standard-border-radius);
  border: none;
}

.button.light-button {
  color: var(--black);
  background: var(--white);
  box-shadow: var(--standard-box-shadow);
}

body {
  min-height: 100vh;

  --sidebar-preferred-width: 225px;
  grid-template-columns:
    minmax(min(var(--sidebar-preferred-width), 100%), 1fr)
    5fr;
  grid-template-areas: "sidebar main";
}

.backdrop {
  content: "";

  --backdrop-background: rgba(0 0 0 / 0.5);
  background: var(--backdrop-background);
  backdrop-filter: blur(4px);
  position: fixed;
  inset: 0;

  pointer-events: none;
  opacity: 0;

  transition: all 0.3s ease;
}

body.dialog-active > .backdrop {
  pointer-events: all;
  opacity: 1;
}

aside {
  grid-area: sidebar;
}

main {
  grid-area: main;
}

main > * {
  margin-bottom: var(--standard-spacing);
}

.main-header {
  justify-content: space-between;
}

.dialog {
  --padding-block: calc(var(--standard-spacing) * 2);
  --padding-inline: calc(var(--standard-spacing) * 1.5);
  padding: var(--padding-block) var(--padding-inline);

  position: fixed;

  --max-width: 600px;
  width: min(var(--max-width), 95%);

  max-height: 97vh;
  overflow-y: auto;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: all 0.3s ease;

  box-shadow: var(--standard-box-shadow);
  border-radius: var(--standard-border-radius);
  background: var(--white);

  z-index: 1;
}

.dialog[data-state="closed"] {
  opacity: 0;

  pointer-events: none;
}

.dialog[data-state="open"] {
  opacity: 1;

  pointer-events: all;
}

.dialog-title {
  --margin-bottom: calc(var(--standard-spacing) * 1.5);

  margin-bottom: var(--margin-bottom);
}

label {
  --input-field-flex-basis: 350px;

  gap: 0.5rem;
}

input,
textarea,
select {
  padding: 0.5rem;
  border-radius: var(--standard-border-radius);

  border: var(--standard-border);
}

textarea {
  resize: vertical;
}

input[type="date"] {
  background: var(--white);
}

input[type="checkbox"] {
  appearance: none;
  --dimension: 1.375rem;

  width: var(--dimension);
  height: var(--dimension);
  border-radius: 50%;

  position: relative;
}

input[type="checkbox"]::before {
  content: url(./icons/check.svg);

  position: absolute;
  top: -2px;
  right: -2.25px;

  visibility: hidden;
}

input[type="checkbox"]:checked::before {
  visibility: visible;
}

select {
  appearance: none;
  background: transparent;

  padding-right: 3rem;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: "";

  display: inline-block;
  --dimension: 1.25rem;
  width: var(--dimension);
  height: var(--dimension);

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 6px;

  background: url(./icons/arrow-down.svg) center/contain no-repeat;

  pointer-events: none;
}

label > input:not([type]),
input[type="text"] {
  min-width: 0;
  width: 100%; /* fixes some overflow with check-item inputs */
}

label > input:not([type]),
label > input[type="text"],
label > textarea,
label > .check-items-wrapper {
  flex: var(--input-field-flex-basis);
}

label > .label-text {
  flex: 0 1 10ch;
}

.remove-check-item-button {
  display: none;
}

@media (hover: none) {
  .remove-check-item-button {
    display: unset;
  }
}

.check-item:hover > .remove-check-item-button {
  display: unset;
}

.check-item-label {
  flex: 1;
}

.check-item-add-button {
  border-radius: var(--standard-border-radius);

  border: var(--standard-border);
}

.action-buttons {
  gap: 0.5rem;
}

.action-buttons > button {
  flex: 1;
}

.todo {
  margin-bottom: var(--standard-spacing);

  border-radius: var(--standard-border-radius);
  border: var(--standard-border);
}

.priority {
  color: var(--white);
  border-radius: 1rem;

  padding: 0.25rem 0.75rem;

  font-size: 0.85rem;
}

.priority.low {
  background-color: var(--priority-low-color);
}

.priority.medium {
  background-color: var(--priority-medium-color);
}

.priority.high {
  background-color: var(--priority-high-color);
}

.todo.done > .todo-title,
.todo.done > .priority {
  text-decoration: line-through;
}

fieldset {
  border: none;

  --spacing-between-list-items: calc(var(--standard-spacing) / 2);
}

legend {
  margin-bottom: calc(var(--spacing-between-list-items) * 2);
}

.projects-to-move-to {
  gap: var(--spacing-between-list-items);
}

input[type="radio"] {
  appearance: none;
  padding: 0;

  --dimension: 1.25rem;
  width: var(--dimension);
  height: var(--dimension);

  border-radius: 50%;

  justify-content: center;
}

input[type="radio"]::before {
  content: "";

  --dimension: 0.9rem;
  width: var(--dimension);
  height: var(--dimension);

  background: var(--black);
  border-radius: 50%;

  transition: 0.2s transform ease;

  transform: scale(0);
}

input[type="radio"]:checked:before {
  transform: scale(1);
}

@media screen and (max-width: 600px) {
  body {
    grid-template-areas: "sidebar sidebar" "main main";
    grid-auto-rows: min-content;
  }

  .dialog {
    --standard-spacing: 0.7rem;
  }
}
